.nav-image{
    height: 80px;
    width: 80px;
    padding: 5px;
    background: #FFF;
}

body{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("https://i.pinimg.com/originals/b5/ae/97/b5ae97129226cac374b1f585f2cea7e7.jpg");
}

@media (min-width: 992px) {
    .rounded-lg-pill{
        border-radius: 50rem !important;
    }
}

.rounded-bottom-pill-fixed{
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
}
